<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <img style="padding-bottom: 20px;" src="images/logo.png" alt="SIF - simualdo ifrn"/>
        <p class="lead font-weight-normal"> O <strong>SIF-IFRN</strong>, é um site com a finalidade de realizar
            simulados do exame de seleção, para os alunos de 9º anos que pretendem ingressar nos cursos técnicos
            integrados do IFRN.</p>
        <a class="btn btn-success" href="#/simulado">Simulado</a>
    </div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>