<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-8 p-lg-5 mx-auto my-5">
        <img style="padding-bottom: 20px;" src="images/logo.png" alt="SIF - simualdo ifrn" />
        <form class="form-home" ng-show="status">
            <div class="form-group">
                <p>Este é um simulado do exame de seleção do <strong>IFRN</strong></p>
                <ul>
                    <li>Você terá 40 perguntas para responder</li>
                    <li>20 perguntas de matemática e 20 de português</li>
                    <li>Todas são questões de assinalar</li>
                    <li>Basta clicar na resposta que achar correta e ir avançando para a próxima.</li>
                </ul>
                <p>Ao final, você verá o resultado, com a quantidade de respostas corretas e das que você errou, além
                    do tempo gasto para realizar o simulado.</p>
            </div>
        </form>
        <button ng-show="status" class="btn btn-success" ng-click="geraSimulado()" onclick="init();">Iniciar Simulado</button>

        <!---------------------------------------------------------------------------->
        <div class="table-responsive">
            <table ng-show="tasks" class="table table-responsive table-bordered text-left">
                <div ng-show="completed" class="alert alert-success" role="alert">
                    <h4>
                        Simulado Finalizado com sucesso!<br>Você acertou {{ certas }} e errou {{ erradas }} de {{
                        data.length }} perguntas.
                    </h4>
                </div>
                <h1 ng-show="tasks">
                    <strong ng-show="completed">Tempo Gasto </strong><i class="fa fa-clock"></i> <span id="hora">00:</span><span
                        id="minuto">00:</span><span id="segundo">00</span><br>
                </h1>
                <tbody ng-repeat="task in data">
                    <tr class="peg-title">
                        <td colspan="4"><strong>Questão {{$index+1}} - {{ task.tipo }}</strong></td>
                    </tr>
                    <tr class="peg">
                        <td colspan="3" ng-bind-html="task.description"></td>
                    </tr>
                    <tr class="alt" ng-class="{'alt-active' : resposta_selecionada_id_task_resposta  === task._id }">
                        <th width="5%"><input type="radio" name="peg{{task._id}}" ng-click="selectAlt(task._id, task.alt1)">
                            A) {{task.alt1}}</th>
                    </tr>
                    <tr class="alt" ng-class="{'alt-active' : resposta_selecionada_id_task_resposta === task._id }">
                        <th width="5%"><input type="radio" name="peg{{task._id}}" ng-click="selectAlt(task._id, task.alt2)">
                            B) {{task.alt2}}</th>
                    </tr>
                    <tr class="alt" ng-class="{'alt-active' : resposta_selecionada_id_task_resposta  === task._id }">
                        <th width="5%"><input type="radio" name="peg{{task._id}}" ng-click="selectAlt(task._id, task.alt3)">
                            C) {{task.alt3}}</th>
                    </tr>
                    <tr class="alt" ng-class="{'alt-active' : resposta_selecionada_id_task_resposta === task._id }">
                        <th width="5%"><input type="radio" name="peg{{task._id}}" ng-click="selectAlt(task._id, task.alt4)">
                            D) {{task.alt4}}</th>
                    </tr>
                    <tr class="sep"></tr>
                </tbody>
            </table>
        </div>
        <button ng-show="tasks" ng-disabled="completed" class="btn btn-success" ng-click="finalizaSimulado()" onclick="parar();">
            Finalizar Simulado</button>
        <button ng-show="completed" class="btn btn-success" ng-click="geraSimulado()" onclick="init();"> Gerar outro
            simulado</button>
    </div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>