<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <img style="padding-bottom: 20px;" src="images/logo.png" alt="SIF - simualdo ifrn" />
        <form class="form-home">
            <div class="form-group">
                <p>Este é um simulado do exame de seleção do <strong>IFRN</strong></p>
                <ul>
                    <li>Você terá 40 perguntas para responder</li>
                    <li>20 perguntas de matemática e 20 de português</li>
                    <li>Todas são questões de assinalar</li>
                    <li>Basta clicar na resposta que achar correta e ir avançando para a próxima.</li>
                </ul>
                <p>Ao final, você verá o resultado, com a quantidade de respostas corretas e das que você errou, além do tempo gasto para realizar o simulado.</p>
            </div>
        </form>
        <button class="btn btn-success" ng-click="geraSimulado()">Iniciar Simulado</button>
    </div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>