<div class="container container-admin">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Inicio</a></li>
        </ol>
    </nav>
    <div class="jumbotron">
        <h1>Ola, {{ email }}</h1>
        <p class="lead">Seja bem vindo SIF - Simulado IFRN</p>
        <hr class="my-4">
        <p>Nessa área você podera gerenciar todas as funções do sistema</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Vamos la!</a>
    </div>
</div>